<% layout('layouts/boilerplate')%>

<div class="row">
	<h1 class="text-center">Edit <%=trail.title%></h1>
	<div class="col-6 offset-3">
		<form class="validated-form" action="/trails/<%=trail._id%>?_method=PUT" method = "POST" novalidate>
			<div class="mb-3" >
				<label class="form-label" for="title">Title</label>
				<input class="form-control" type="text" id="title" name="trail[title]" value=<%=trail.title%> required>
				<div class="valid-feedback">valid input</div>
			</div>
			<div class="mb-3" >
				<label class="form-label" for="location">Location</label>
				<input class="form-control" type="text" id="location" name="trail[location]" value=<%=trail.location%> required>
				<div class="valid-feedback">valid input</div>
			</div>
			<div class="mb-3" >
				<label class="form-label" for="image">Image URL</label>
				<input class="form-control" type="text" id="image" name="trail[image]" value=<%=trail.image%> required>
				<div class="valid-feedback">valid input</div>
			</div>
			<div class="mb-3" >
				<label class="form-label" for="description">Description</label>
				<textarea class="form-control" type="text" id="description" name="trail[description]" required><%=trail.description%></textarea>
				<div class="valid-feedback">valid input</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Price</label>
				<div class="input-group">
					 <span class="input-group-text" id="price-label">$</span>
					 <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="trail[price]"required>
					 <div class="valid-feedback">valid input</div>
				</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-success">save changes</button>
			</div>
		</form>
		<a href="/trails/<%=trail._id%>">Back to Trails</a>
	</div> 
</div>

